<div class="flex flex-col h-screen">
  <nav class="bg-blue-600 p-4 text-white shadow-md">
    <div class="container mx-auto flex justify-between items-center">
      <div class="space-x-6">
        <a routerLink="/dashboard" class="transition duration-300 ease-in-out hover:bg-blue-700 px-2 py-1 rounded">{{ 'DASHBOARD' | translate }}</a>
        <a routerLink="/directory" class="transition duration-300 ease-in-out hover:bg-blue-700 px-2 py-1 rounded">{{ 'DIRECTORY' | translate }}</a>
      </div>

      <select [(ngModel)]="currentLang" (change)="changeLanguage($event)" class="bg-white text-black p-2 rounded border border-blue-200">
        <option value="en">English</option>
        <option value="es">Spanish</option>
      </select>
    </div>
  </nav>

  <main class="flex-grow [&>*]:block [&>*]:h-full">
    <router-outlet class="!hidden" />
  </main>
</div>
